@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#btn{
    color:black;
    font-size:large;
}
@media only screen and (max-width: 768px) {
    #btn {
      font-size: normal;
    }
  }
@media only screen and (max-width: 640px) {
    #btn {
      font-size: medium;
      font-weight: bold;
    }
  }