body{
    margin: 0;
}
.box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vw;
    box-shadow: 0px 3px 5px gray;
}

.box1 {
    width: 13%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    margin-top: 5vh;
    width: 90%;
}
h1 {
    font-size: 17px;
}
.row{
    flex-direction: column;
    width: 70%;
    margin-left: -20vw;
}

.box2 {
    width: 27%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 27px;
    font-family: "Dancing Script"   
}   

.icons {    
    width: 15%; 
    height: 100px;  
    font-size: 13px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.instt{
    color: grey;
}
.tww{
    color: grey;
}
.fbb{
    color: grey;
}
.pinn{
    color: grey;
}
.youu{
    color: grey;
}   
.sections{
    margin-top:10vh;
}
.section1{
    display: grid;
    grid-template-columns: auto auto auto;
    width:90%;
    margin: 1vh 0 0 5vw;
}
.section1 img{
    box-shadow: 10px 10px 10px gray;
}       
.section1 p{
    width:auto;
    font-size: x-large;
    padding:0vw 0 0 6vw;
}
.section1child{
    display: flex;
}
a{
    color:black;
    text-decoration: none;
}
@media (max-width: 1024px) {

    .icons{
        flex-direction: row;
    }
    .icons img{
        width: 3vw;
    }

}
@media (max-width: 600px) {
    .box1{
        display: none;
    }
    .box2{
        width: 60%;
    }
    ul{
        margin-left: 10vw;
    }
    .icons{
        flex-direction: column;
    }
}
