{% extends 'base.html' %}
{% block projects %}
<div class="block">
    <img class="aboutimg" src="../static/css/img/beton.jpg" width="40%" height="auto" >
    <div class="buildinginfo">
        <h1 class="titleBuilding">Պեմզաբլոկ</h1>
        <p class="bldp">«Էլիտար Շին» ընկերությունը 2018 թվականից արտադրում է պեմզաբլոկ՝ դառնալով շինարարության ոլորտում վստահելի գործընկեր: Ընկերությունը պեմզաբլոկ է տրամադրել բազմաթիվ խոշոր շինարարական նախագծերի՝ առանձնանալով իր արտադրանքի բարձր դիմացկունությամբ և ջերմամեկուսիչ հատկություններով: Այսօր «Էլիտար Շին»-ի պեմզաբլոկը օգտագործվում է Բագրևանդ Ռեզիդենս թաղամասի կառուցման աշխատանքներում՝ աջակցելով նախագծերի արագ և արդյունավետ իրականացմանը:</p>
        <br>

        <div class="imgs">
            <img src="../static/css/img/beton1.jpg" width="250vw" height="220vh">
            <img src="../static/css/img/beton2.jpg" width="250vw" height="220vh">
            <img src="../static/css/img/beton3.jpg" width="250vw" height="220vh">
        </div>
    </div>
</div>
<br>
<br>
<hr>
<div class="block">
    <img class="aboutimg" src="../static/css/img/betonuzel.jpg" width="40%" height="650vh" >
    <div class="buildinginfo">
        <h1 class="titleBuilding">Բետոն</h1>
        <p class="bldp">«Էլիտար Շին» ընկերությունը 2018 թվականից ի վեր զբաղվում է բետոնի արտադրությամբ՝ ապահովելով որակյալ և ամուր բետոն բազմազան շինարարական նախագծերի համար։ Ընկերությունը համագործակցել է մի շարք կարևորագույն ծրագրերի շրջանակներում՝ տրամադրելով բետոն տարբեր շենքերի և կառույցների կառուցման համար: Ներկայումս «Էլիտար Շին»-ը բետոն է մատակարարում նաև Բագրևանդ Ռեզիդենս թաղամասի շինարարական նախագծերին՝ շարունակելով նպաստել քաղաքի արդի ճարտարապետական զարգացումներին։</p>
        <br>
        <br>
        <div class="imgs">
            <img src="../static/css/img/concrete1.jpg" width="250vw" height="220vh">
            <img src="../static/css/img/concrete2.jpg" width="250vw" height="220vh">
            <img src="../static/css/img/concrete3.jpg" width="250vw" height="220vh">
        </div>
    </div>
</div>
<style>
.text-center{
    display: none;

}
hr{
    color: black;
    background-color: black;
    width: 90%;
}
.markets{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 7vw;
}
.bldp{
    font-size: large;
    font-weight: bold;
    width: 90%;
    margin-left: 7%;
    text-align:center;
}
.titleBuilding{
    width: 100%;
    text-align: center;
}
.imgs{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3vw;
}
.buildinginfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2vw;
}
.block{
    display: flex;
    margin: 10vh 0vh 8vh 3vw;
}
.aboutimg{
    border-radius: 2.2vw;
}
h4{
    font-weight:bold;
    font-size: medium;
}
a:hover{
    color:black;
    text-decoration: none;
}
a{
    font-family: none;
}
.imgs img{
    border-radius: 1vw;
}
</style>

{% endblock %}
