{% extends 'base.html' %}
{% block projects %}
<div class="block">
    <div class="bigimg">
        <img class="aboutimg" src="../static/css/img/beton.jpg" width="100%" height="500vh" >
    </div>
    <div class="buildinginfo">
        <h1 class="titleBuilding">Պեմզաբլոկ</h1>
        <p class="bldp">«Էլիտար Շին» ընկերությունը 2018 թվականից արտադրում է պեմզաբլոկ՝ դառնալով շինարարության ոլորտում վստահելի գործընկեր: Ընկերությունը պեմզաբլոկ է տրամադրել բազմաթիվ խոշոր շինարարական նախագծերի՝ առանձնանալով իր արտադրանքի բարձր դիմացկունությամբ և ջերմամեկուսիչ հատկություններով: Այսօր «Էլիտար Շին»-ի պեմզաբլոկը օգտագործվում է Բագրևանդ Ռեզիդենս թաղամասի կառուցման աշխատանքներում՝ աջակցելով նախագծերի արագ և արդյունավետ իրականացմանը:</p>
        <br>

    </div>
    <div class="imgs">
        <img src="../static/css/img/beton1.jpg" width="250vw" height="220vh">
        <img src="../static/css/img/beton2.jpg" width="250vw" height="220vh">
        <img src="../static/css/img/beton3.jpg" width="250vw" height="220vh">
    </div>
</div>
<br>
<br>
<hr>
<div class="block">
    <div class="bigimg">
        <img class="aboutimg" src="../static/css/img/betonuzel.jpg" width="100%" height="600vh" >
    </div>
    <div class="buildinginfo">
        <h1 class="titleBuilding">Բետոն</h1>
        <p class="bldp">«Էլիտար Շին» ընկերությունը 2018 թվականից ի վեր զբաղվում է բետոնի արտադրությամբ՝ ապահովելով որակյալ և ամուր բետոն բազմազան շինարարական նախագծերի համար։ Ընկերությունը համագործակցել է մի շարք կարևորագույն ծրագրերի շրջանակներում՝ տրամադրելով բետոն տարբեր շենքերի և կառույցների կառուցման համար: Ներկայումս «Էլիտար Շին»-ը բետոն է մատակարարում նաև Բագրևանդ Ռեզիդենս թաղամասի շինարարական նախագծերին՝ շարունակելով նպաստել քաղաքի արդի ճարտարապետական զարգացումներին։</p>
    </div>
    <div class="imgs">
        <img src="../static/css/img/concrete1.jpg" width="250vw" height="220vh">
        <img src="../static/css/img/concrete2.jpg" width="250vw" height="220vh">
        <img src="../static/css/img/concrete3.jpg" width="250vw" height="220vh">
    </div>
</div>
<hr>
<div class="block">
    <div class="imgs">
        <img src="../static/css/img/photo_5458768623238766786_y.jpg" width="250vw" height="220vh">
        <img src="../static/css/img/photo_5458768623238766787_y.jpg" width="250vw" height="220vh">
    </div>
    <div class="buildinginfo">
        <h1 class="titleBuilding">Բետոնային Պոմպ</h1>
        <p class="bldp">Մենք տրամադրում ենք բարձրորակ բետոնային պոմպի ծառայություններ՝ 18 մետր և 42 մետր երկարությամբ բետոնախառնիչների միջոցով: Մեր սարքավորումները ապահովում են հուսալի և արդյունավետ բետոնի տեղադրում նույնիսկ առավել դժվար հասանելի տարածքներում, ինչը թույլ է տալիս բարձրացնել շինարարական աշխատանքների արագությունը և որակը: Մեր թիմը հոգում է, որ աշխատանքները կատարվեն ճշգրտորեն և ժամանակին, համապատասխանելով ամենաբարձր տեխնիկական և անվտանգության պահանջներին։</p>
    </div>
</div>
<style>
    .block{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10vh 0vh 0vh 0vw;
    }
    .bigimg{
        margin-left: 5vh;
        width: 40%;
    }

    .buildinginfo{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap:2vw;
    }
    .aboutimg{
        border-radius: 1.2vw;
    }
    .imgs{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
        margin-left: 3vw;
        margin-top: 5vh;
    }
    .imgs img{
        border-radius: 1vw;
    }
    .bldp{
        font-size: large;
        font-weight: bold;
        width: 100%;
        margin-left: 7%;
        text-align:center;
    }
    .titleBuilding{
        width: 100%;
        text-align: center;
    }
    .text-center{
        display: none;
    
    }
    hr{
        color: black;
        background-color: black;
        width: 90%;
    }
    
    h4{
        font-weight:bold;
        font-size: medium;
    }
    a:hover{
        color:black;
        text-decoration: none;
    }
    a{
        font-family: none;
    }

@media (max-width: 768px) {
    .bigimg img{
        height: 50vh;
    }

}
@media (max-width: 650px) {
    .block{
        flex-direction: column;
        gap: 5vh;
    }
    .block .bigimg, .buildinginfo{
        width: 90%;
    }
    .imgs{
        flex-direction: column;
        align-items: center;
    }   
    .imgs img{
        width: 60%;
    }
}
</style>

{% endblock %}
