{% extends 'base.html' %}
{% block projects %}
<div class="projects">
    <div  onclick="showdata1()" class="first">
        <img src="../static/css/img/1.1building.jpg" alt="1st building" width="95%" height="450vh">
        <h1 class="bld">1 Շենք</h1>

    </div>
    <div  onclick="showdata2()" class="second">
        <img src="../static/css/img/right.jpg" alt="2nd building" width="95%" height="450vh">
        <h1 class="bld">2  Շենք </h1>
    </div>
    <div  onclick="showdata3()" class="third">
        <img src="../static/css/img/3th.jpg" alt="3td building" width="95%" height="450vh">
        <h1 class="bld">3  Շենք</h1>
    </div>
</div>
<div class="building">
    <img class="aboutimg" src="../static/css/img/3th.jpg" width="40%" height="auto" >
    <div class="buildinginfo">
        <h1 class="titleBuilding"></h1>
        <p class="bldp"></p>
        <div class="imgs">
            <img class="img1" src="../static/css/img/1.1building.jpg" width="200vw" height="150vh">
            <img class="img2" src="../static/css/img/right.jpg" width="200vw" height="150vh">
            <img class="img3" src="../static/css/img/section1.jpg" width="200vw" height="150vh">
        </div>
        <div class="markets">
            <img id="img1" src="../static/css/img/parking.png" width="10%">
            <img id="img2" src="../static/css/img/dumbbell.png" width="10%">
            <img id="img3" src="../static/css/img/swimmer.png" width="10%">
        </div>
    </div>
    <button onclick="hidedata()" class="previous">↑</button>
</div>
<style>
    a:hover{
        color:black;
        text-decoration: none;
    }
    a{
        font-family: none;
    }
    .previous{
        width: 2%;
        height: 5vh;
        font-size: x-large;
        font-weight: bold;
    }
    .markets{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content:end;
        gap: 13vw;
    }
    .bldp{
        font-size: large;
        font-weight: bold;
        width: 80%;
        text-align:center;
    }
    .titleBuilding{
        width: 100%;
    }
    .imgs{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 5vw;
    }
    .buildinginfo{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap:2vw;
    }
    .building{
        display: none;
        margin-top: 4vw;
    }
    .aboutimg{
        padding: 0vw 1vw 1vw 1vw;
    }
  
    .projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10vh;
        height: auto;
    }
    .projects div{
        margin-left: -10vw;
        width: 25vw;
    }
    .projects div:hover{
        scale: 102%;
    }
    .projects img{
        border:10px solid white;
        border-radius: 10vw;
    }
    .second{
        z-index: 5;
    }
    h1{
        width: 100%;
        text-align: center;
    }
    h4{
        font-weight:bold;
        font-size: medium;
    }
    .footer{
        border:none
    }
    @media (max-width: 1230px) {
        .projects div{
            width: 30vw;
        }
    }
    @media (max-width: 1024px) {
        
        .building{
            flex-direction: column;
        }
        .imgs, .markets{
            justify-content:center;
        }
        .aboutimg, .buildinginfo{
            width: 100%;
        }
        .previous{
            margin: 5vw;
            width: 3vw;
        }


    }
    @media (max-width: 768px) {
        .projects div img{
            height: 50vh;
        }
        .row{
            gap: 10vh;
        }
    }
    @media (max-width: 600px) {
        .aboutimg{
            height: 60vh;
        }
        .imgs img{
            height: 10vh;
        }
        .projects{
            flex-direction: column;
            align-items: center;
        }
        .projects div img{
            width: 50vw;
            height: 30vh;
        }
        .projects div h1{
            width: 50vw;
        }
        .row{
            gap: 15vh;
        }
        .previous{
            width: 5vw;
        }
       


    }
</style>
<script src="jquery.js" type="text/javascript"></script>
<script>
    function showdata1(){
        document.getElementById("posts").style.display = "none" 
        document.querySelector(".projects").style.display = "none" 
        document.querySelector(".building").style.display = "flex" 
        document.querySelector(".titleBuilding").innerHTML = "Առաջին Շենք"
        document.querySelector(".bldp").innerHTML = "3th Building"
        document.querySelector(".aboutimg").src = "../static/css/img/1.1building.jpg"
        document.querySelector(".img1").src = "../static/css/img/1.2building.jpg"
        document.querySelector(".img2").src = "../static/css/img/1.3building.jpg"
        document.querySelector(".img3").src = "../static/css/img/1.4building.jpg"
        document.getElementById("img1").src = "../static/css/img/parking.png"
        document.getElementById("img2").src = "../static/css/img/pharmacy.png"
        document.getElementById("img3").src = "../static/css/img/playground.png"
        document.querySelector(".bldp").innerHTML = "Առաջին շենքը բաղկացած է 3 մասնաշենքից՝ 9, 15 և 14 հարկանի: Յուրաքանչյուր մասնաշենք նախատեսված է բնակիչների հարմարավետության համար՝ ներառելով ժամանակակից բնակելի միջավայրի լավագույն լուծումները: Շենքի տակ նախատեսված է 2 հարկանի ստորգետնյա ավտոկայանատեղի:"
        document.querySelector(".bldp").style.width = "100%"


    }
    function showdata2(){
        document.getElementById("posts").style.display = "none" 
        document.querySelector(".projects").style.display = "none" 
        document.querySelector(".building").style.display = "flex" 
        document.querySelector(".titleBuilding").innerHTML = "Երկրորդ  Շենք"
        document.querySelector(".bldp").innerHTML = "3th Building"
        document.querySelector(".aboutimg").src = "../static/css/img/right.jpg"
        document.querySelector(".aboutimg").style.height = "80vh"
        document.querySelector(".img1").src = "../static/css/img/2.1building.jpg"
        document.querySelector(".img2").src = "../static/css/img/2.2building.jpg"
        document.querySelector(".img3").src = "../static/css/img/2.3building.jpg"
        document.getElementById("img1").src = "../static/css/img/parking.png"
        document.getElementById("img2").src = "../static/css/img/working-with-laptop.png"
        document.getElementById("img3").src = "../static/css/img/shopping-cart.png"
        document.querySelector(".bldp").innerHTML = "Երկրորդ շենքը, բաղկացած է երկու 16-հարկանի մասնաշենքերից, նախատեսված է դառնալ բարձրակարգ բնակելի համալիր՝ կիրառելով նորարարական ճարտարապետական լուծումներ: Շենքի տակ գտնվող 4-հարկանի ստորգետնյա ավտոկայանատեղին կապահովի ընդարձակ և հարմարավետ կայանման պայմաններ: Նշանակալի առանձնահատկություններից է այն, որ 2-րդ հարկում նախատեսված է ստեղծել ժամանակակից և գործնական օֆիսային տարածքներ, որն իր մեջ կհամախմբի բիզնես գործունեության համար անհրաժեշտ բոլոր պայմանները՝ իդեալական հավասարակշռություն ստեղծելով բնակելի և աշխատավայրային միջավայրերի միջև։"
        document.querySelector(".bldp").style.width = "100%"
        

    }
    function showdata3(){
        document.getElementById("posts").style.display = "none" 
        document.querySelector(".projects").style.display = "none" 
        document.querySelector(".building").style.display = "flex" 
        document.querySelector(".titleBuilding").innerHTML = "Երրորդ  Շենք"
        document.querySelector(".bldp").innerHTML = "Երրորդ շենքը ներառում է մեկ մասնաշենք՝ 10 հարկանի: Այն առանձնանում է իր կոմպակտ կառուցվածքով և բնակելի տարածքների օպտիմալ օգտագործմամբ: Շենքի տակ նախատեսված է 2 հարկանի ստորգետնյա ավտոկայանատեղի՝ բավարարելու բնակիչների ավտոմեքենաների կայանման կարիքները:"
        document.querySelector(".aboutimg").src = "../static/css/img/3th.jpg"
        document.querySelector(".img1").src = "../static/css/img/secondrs.jpg"
        document.querySelector(".img2").src = "../static/css/img/3.2building.jpg"
        document.querySelector(".img3").src = "../static/css/img/sectionimg.jpg"
        document.getElementById("img1").src = "../static/css/img/parking.png"
        document.getElementById("img2").src = "../static/css/img/dumbbell.png"
        document.getElementById("img3").src = "../static/css/img/swimmer.png"
        document.querySelector(".bldp").style.width = "100%"

    }    
    function hidedata(){
        document.getElementById("posts").style.display = "block" 
        document.querySelector(".projects").style.display = "flex" 
        document.querySelector(".building").style.display = "none" 
        
    } 
</script>
{% endblock %}