<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELITARSHIN</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="webfonts/all.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+HU:wght@100..400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+HU:wght@100..400&family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
    <div class="box">
        <div class="box1">
            <h1 id="tit">ԷԼԻՏԱՐ ՇԻՆ</h1>
        </div>
        <div class="box2">
            <ul>
                <li><a id="home" href="">Հիմնական</a></li>
                <li><a id="projects1" href="#projects">Աշխատանքներ</a></li>
                <li class="about1"><a id="about1" href="#about">Մեր Մասին</a></li>
            </ul>
        </div>        
        <div class="icons">
            <img onclick="arm()" src="../static/css/img/armenia.png" alt="instagram icon" width="30vw">
            <img onclick="eng()" src="../static/css/img/united-states.png" alt="instagram icon" width="30vw">
        </div>
    </div>
    <div class="main">
        <div class="main-box">
            <h3 id="elt">Էլիտար-Շին</h3>
            <h4 id="quality">Որտեղ որակը համապատասխանում է հուսալիությանը շինարարության մեջ</h4>
        </div>
    </div>
    <div class="item">
        <div class="item-box1">
            <div class="item-img"></div><br>
            <h5 id="item1" >Ճշգրիտ լուծումներ</h5>
        </div>
        <div class="item-box2">
            <div class="item-img2"></div><br>
            <h5 id="item2">Կայուն հիմք</h5>
        </div>
        <div class="item-box3">
            <div class="item-img7"></div><br>
            <h5 id="item3">Նորաոճ լուծումներ</h5> 
        </div>
        <div class="item-box5">
            <div class="item-img5"></div><br>
            <h5 id="item4">Առաջատար նյութեր </h5>
        </div>
        <div class="item-box6">
            <div class="item-img6"></div><br>
            <h5 id="item5">Խելացի շինարարություն</h5>
        </div>
        <div class="item-box7">
            <div class="item-img3"></div><br>
            <h5 id="item6">Նոր տեխնոլոգիաներ </h5>
        </div>
    </div>
    <div class="b" id="projects">
        <div class="ses">Աշխատանքներ</div>
        <div class="gg">Մենք սահմանում ենք շինարարության որակի և տեխնոլոգիայի նոր չափանիշներ!</div>
    </div>
    <div class="phot">
        <div class="BagrevandResidence">
            <div class="img-car"></div><br>
            <div class="Bagrevandtitle">
                <div class="p">Բագրեվանդ Ռեզիդենս Համալիր</div><br><br>
                <form action="/bagrevandresidence">
                    <button id="btn" onclick="bg">Տեսնել Ավելին</button>
                </form>
            </div>
        </div>
        <div class="palm">
            <div class="townhouses"></div><br>
            <div id="twn" class="p">Թաունհաուսների Կառուցապատում</div><br><br>
            <form action="/townhouses">
                <Button id="btn1" onclick="th()">Տեսնել Ավելին</Button>
            </form>
        </div>
        <div class="sar">
            <div class="blocks"></div><br>
            <div id="beton" class="p">Պեմզաբլոկի և Բետոնի Արտադրություն</div><br>
            <form action="/blocksmanufacturing">
                <button id="btn2" onclick="blocks()">Տեսնել Ավելին</button>
            </form>
        </div>
        <div class="oke">
            <div class="img-oke"></div><br>
            <div id="katlavan" class="p">Կաթլավանի Փորում</div><br><br>
            <form action="/katlavan">
                <button id="btn3" onclick="katlavan()">Տեսնել Ավելին</button>
            </form>
        </div>
    </div>
    <div class="wer">
        <div class="wer1">Աշխատանքներ</div>
        <div class="wer2">Տարբեր Նախագծերից</div><br>
    </div><br><br>
    <div class="xarr">
        <div class="bgr">
            <div class="img-bgr"></div>
            <div class="imggirl">Բագրեվանդ Բնակելի Համալիր</div>
            <div class="builds">Երեք բարձրահարկ շենք</div>
            <div class="aboutbg">Մեր կազմակերպությունը ներկայումս իրականացնում է բնակարանային համալիրի կառուցման ծրագիր Բագրևանդ Ռեզիդենս թաղամասում։ Նախագիծը ներառում է 3 շենք. առաջինը 9 հարկանի, երկրորդը 16 հարկանի, իսկ երրորդը 15 հարկանի, ինչպես նաև 2 հարկ ստորգետնյա ավտոկայանատեղի։ Շենքերը դեռ կառուցման փուլում են, և ամբողջական ավարտը սպասվում է 2025 թվականի դեկտեմբերին։</div><br><br>
            <div class="girl5">
                <i class="fa-brands fa-facebook fb"></i>
                <i class="fa-brands fa-twitter tw"></i>
                <i class="fa-brands fa-pinterest pin"></i>
            </div><br>
        </div>
        <div class="yaxt-box">
            <div class="yaxt">
                <div class="img-yaxt"></div><br>
                <div class="imgyaxt">Թաունհաուսներ</div><br>
            </div>
            <div class="teay">
                <div class="img-teay"></div><br>
                <div class="imgteay"> <p>Կաթլավան</p></div><br>
            </div>
        </div>
        <div class="text">
            <div class="text1">
                <div class="text2">Բազմաբնակարան Շենքերի Կառուցում</div><br>
             </div>
            <div class="text4">
                <div class="text5">Թաունհաուսների Կառուցում</div><br>
            </div>
            <div class="text16">
                <div class="text17">Հողային Աշխատանքներ</div><br>
            </div>
        </div>
    </div>
<div class="iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.1055965134065!2d44.58738416394559!3d40.192143798775284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406aa3241239a809%3A0xf0f421e5913d39c4!2sBagrevand%20Residense%2C%20Jrvej%2017%20str.6%2F6!5e0!3m2!1sru!2sam!4v1725964918465!5m2!1sru!2sam" width="95%" height="600vh" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="rek">
    <div class="rek1">Մեր Նախագծերը</div><br>    
    <br><br>
    <div class="rekk">
        <div class="rekk1">
            <div class="rek3"></div>
            <p id="rek3" class="h31">Բագրեվանդ Ռեզիդենս</p>    
        </div>
        <div>
            <div class="rek4"></div>
            <p id="rek4" class="h31">Թաունհաուսներ</p>    
        </div>
    </div>
</div>
<div class="travel1">
    <div class="travel2">
        <div class="travel11">Մեր Գրասենյակը </div><br>
        <div class="travel66">Բագրեվանդի 6/6, 1ին Շենք</div>
    </div>
    <div class="travel3">
        <div class="travel55"></div> <br>
    </div>
</div>
<div class="ft1">
    <br>
    <hr>
</div>
<br>
<br>
<br>
<div class="footer">
    <br>
    <div class="socialmedia">
        <a href="https://www.instagram.com/elitar_shin?igsh=ODN0MzB4MndpMXRj"><img src="../static/css/img/instagram.png" alt="instagram icon" width="30vw"> </a>
        <a href="https://www.facebook.com/pemzablokbetoncement?mibextid=LQQJ4d"><img src="../static/css/img/facebook.png" alt="facebookicon" width="30vw"></a>
        <a href="mailto:elitarshin@mail.ru"><img src="../static/css/img/gmail.png" alt="gmail icon" width="30vw"></a>
        <a href="tel:091 400502"><img src="../static/css/img/phone.png" alt="phone icon" width="30vw"></a>
    </div>


</div>
<br>
<br>
<br>
<br id="about">
<script>
    function eng(){
        document.getElementById("tit").innerHTML = "ELITAR SHIN"
        document.getElementById("home").innerHTML = "Home"
        document.getElementById("projects1").innerHTML = "Projects"
        document.getElementById("about1").innerHTML = "About Us"
        document.getElementById("elt").innerHTML = "ElitarShin"
        document.getElementById("quality").innerHTML = "Where quality meets reliability in construction"
        document.getElementById("quality").style.fontSize = "larger"
        document.getElementById("item1").innerHTML = "Innovative Engineering"
        document.getElementById("item2").innerHTML = "Smart Construction"
        document.getElementById("item3").innerHTML = "Sustainable Solutions"
        document.getElementById("item4").innerHTML = "Advnaced Materials"
        document.getElementById("item5").innerHTML = "Precision Building"
        document.getElementById("item6").innerHTML = "Cutting-Edge Technology"
        document.querySelector(".ses").innerHTML = "Projects"
        document.querySelector(".gg").innerHTML = "We build Elitar structures that set new standards in quality and technology!"
        document.querySelector(".p").innerHTML = "Bagrevand Residence"
        document.getElementById("btn").innerHTML = "explore"
        document.getElementById("btn1").innerHTML = "explore"
        document.getElementById("btn2").innerHTML = "explore"
        document.getElementById("btn3").innerHTML = "explore"
        document.getElementById("twn").innerHTML = "TownHouses"
        document.getElementById("beton").innerHTML = "Blocks, Concrete Manufacturing"
        document.getElementById("katlavan").innerHTML = "Katlavan"
        document.querySelector(".wer1").innerHTML = "RECENT STORIES "
        document.querySelector(".wer2").innerHTML = "FROM DIFERENT PROJECTS"
        document.querySelector(".imggirl").innerHTML = "Bagrevand Residence"
        document.querySelector(".builds").innerHTML = "Three high-rise buildings"
        document.querySelector(".aboutbg").innerHTML = "Our organization is currently implementing an apartment complex construction project in the Bagrevand Residence district. The project includes 3 buildings. the first 9-story, the second 16-story, and the third 15-story, as well as 2-story underground parking. The buildings are still under construction and full completion is expected in December 2025."
        document.querySelector(".imgyaxt").innerHTML = "TownHouses"
        document.querySelector(".imgteay").innerHTML = "Construction services"
        document.querySelector(".text2").innerHTML = "Apartment complex construction"
        document.querySelector(".text5").innerHTML = "Construction of townhouses complex"
        document.querySelector(".text17").innerHTML = "Digging foundations"
        document.querySelector(".rek1").innerHTML = "Our Projects In Map"
        document.querySelector("#rek3").innerHTML = "Bagrevand Residence"
        document.querySelector("#rek4").innerHTML = "TownHouses"
        document.querySelector(".travel11").innerHTML = "Our Office"
        document.querySelector(".travel66").innerHTML = "6/6 Bagrevand Street, 1st Building"

    }

    function arm(){
        document.getElementById("tit").innerHTML = "ԷԼԻՏԱՐ ՇԻՆ"
        document.getElementById("home").innerHTML = "Հիմնական"
        document.getElementById("projects1").innerHTML = "Աշխատանքներ"
        document.getElementById("about1").innerHTML = "Մեր Մասին"
        document.getElementById("elt").innerHTML = "Էլիտար-Շին"
        document.getElementById("quality").innerHTML = "Որտեղ որակը համապատասխանում է հուսալիությանը շինարարության մեջ"
        document.getElementById("quality").style.fontSize = "larger"
        document.getElementById("item1").innerHTML = "Ճշգրիտ լուծումներ"
        document.getElementById("item2").innerHTML = "Կայուն հիմք"
        document.getElementById("item3").innerHTML = "Նորագոճ լուծումներ"
        document.getElementById("item4").innerHTML = "Առաջատար նյութեր"
        document.getElementById("item5").innerHTML = "Խելացի շինարարություն"
        document.getElementById("item6").innerHTML = "Նոր տեխնոլոգիաներ"
        document.querySelector(".ses").innerHTML = "Աշխատանքներ"
        document.querySelector(".gg").innerHTML = "Մենք սահմանում ենք շինարարության որակի և տեխնոլոգիայի նոր չափանիշներ!"
        document.querySelector(".p").innerHTML = "Բագրեվանդ Բնակելի Համալիր"
        document.getElementById("btn").innerHTML = "Տեսնել Ավելին"
        document.getElementById("btn1").innerHTML = "Տեսնել Ավելին"
        document.getElementById("btn2").innerHTML = "Տեսնել Ավելին"
        document.getElementById("btn3").innerHTML = "Տեսնել Ավելին"
        document.getElementById("twn").innerHTML = "Թաւնհաուսների Կառուցապատում"
        document.getElementById("beton").innerHTML = "Պեմզաբլոկի և Բետոնի Արտադրություն"
        document.getElementById("katlavan").innerHTML = "Կաթլավանի Փորում"
        document.querySelector(".wer1").innerHTML = "Աշխատանքներ"
        document.querySelector(".wer2").innerHTML = "Տարբեր Նախագծերից"
        document.querySelector(".imggirl").innerHTML = "Բագրեվանդ Բնակելի Համալիր"
        document.querySelector(".builds").innerHTML = "Երեք բարձրահարկ շենք"
        document.querySelector(".aboutbg").innerHTML = "Մեր կազմակերպությունը ներկայումս իրականացնում է բնակարանային համալիրի կառուցման ծրագիր Բագրևանդ Ռեզիդենս թաղամասում։ Նախագիծը ներառում է 3 շենք. առաջինը 9 հարկանի, երկրորդը 16 հարկանի, իսկ երրորդը 15 հարկանի, ինչպես նաև 2 հարկ ստորգետնյա ավտոկայանատեղի։ Շենքերը դեռ կառուցման փուլում են, և ամբողջական ավարտը սպասվում է 2025 թվականի դեկտեմբերին։"
        document.querySelector(".imgyaxt").innerHTML = "Թաունհաուսներ"
        document.querySelector(".imgteay").innerHTML = "Կաթլավան"
        document.querySelector(".text2").innerHTML = "Բազմաբնակարան Շենքերի Կառուցում"
        document.querySelector(".text5").innerHTML = "Թաունհաուսների Կառուցում"
        document.querySelector(".text17").innerHTML = "Հողային Աշխատանքներ"
        document.querySelector(".rek1").innerHTML = "Մեր Նախագծերը"
        document.querySelector("#rek3").innerHTML = "Բագրեվանդ Ռեզիդենս"
        document.querySelector("#rek4").innerHTML = "Թաունհաուսներ"
        document.querySelector(".travel11").innerHTML = "Մեր Գրասենյակը"
        document.querySelector(".travel66").innerHTML = "Բագրևանդի 6/6 1-ին շենք"

    
    }
</script>

</body>
</html>
