{% extends 'base.html' %}


{% block addbutton  %}
<div class="building">
    <img class="aboutimg" src="../static/css/img/townhouses.png" width="40%" height="auto" >
    <div class="buildinginfo">
        <h1 class="titleBuilding">Թաունհաուսներ</h1>
        <p class="bldp">Այս նախագիծը, որը մեկնարկել է 2020 թվականին և հաջողությամբ ավարտվել 2022-ին, ներկայացնում է ժամանակակից թաունհաուսների համալիր, որը առանձնանում է իր մոդեռն և նորարարական լուծումներով: Շենքերի դիզայնը ընդգծում է մինիմալիստական ոճի և ֆունկցիոնալության համադրությունը՝ լայն պատուհաններ, կանաչապատ տանիքներ և բարձրորակ շինարարական նյութեր, որոնք ապահովում են ամրություն և հարմարավետություն:

            Թաունհաուսները նախատեսված են ապահովելու ժամանակակից կենսամիջավայր՝ առաջարկելով ինչպես էսթետիկ, այնպես էլ ֆունկցիոնալ լուծումներ: Համալիրի նախագծային առանձնահատկությունները ներառում են ոչ միայն ժամանակակից ճարտարապետական մոտեցումներ, այլև բնակիչների հարմարավետությունն ու անվտանգությունն ապահովող փակ բակային տարածքներ: 
            
            Այս թաունհաուսները մարմնավորում են բարձրորակ շինարարական ստանդարտներ՝ ինտեգրելով բնական և տեխնոլոգիական տարրերը, ինչը թույլ է տալիս ստեղծել հարմարավետ և պրակտիկ բնակարանային միջավայր՝ լիովին համապատասխանելով ժամանակակից պահանջներին:</p>
        <div class="imgs">
            <img src="../static/css/img/townhouse2.png" width="250vw" height="150vh">
            <img src="../static/css/img/townhouse3.png" width="250vw" height="150vh">
            <img src="../static/css/img/townhouse4.png" width="250vw" height="150vh">
        </div>
     
    </div>
</div>
<style>
.text-center{
    display: none;

}
hr{
    margin: 0;
    width: 100%;
}
.markets{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 7vw;
}
.bldp{
    font-size: large;
    font-weight: bold;
    width: 90%;
    margin-left: 7%;
    text-align:center;
}
.titleBuilding{
    width: 100%;
    text-align: center;
}
.imgs{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3vw;
}
.buildinginfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2vw;
}
.building{
    display: flex;
    margin-top: 4vw;
}
.aboutimg{
    padding: 0vw 1vw 1vw 1vw;
    border-radius: 3vw;
}
h4{
    font-weight:bold;
    font-size: medium;
}
a:hover{
    color:black;
    text-decoration: none;
}
a{
    font-family: none;
}
.imgs img{
    border-radius: 1vw;
}
</style>
{% endblock %}
